@font-face {
  font-family: Formula Condensed;
  src: url(/library/Fonts/futura.otf) format("truetype");
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#dash-wrapper {
  font-family: Futura;
  background-image: radial-gradient(rgb(78, 29, 29), rgb(25, 25, 25));
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  #dash-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid white;
    #header-text {
      h1 {
        font-size: 50px;
        margin-top: 5px;
      }
      h3 {
        font-size: 15px;
        margin-top: -45px;
      }
    }
  }

  #burger {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    .burger-span {
      width: 30px;
      height: 2px;
      border: 2px solid white;
      background-color: white;
      margin-top: 5px;
    }
  }
  #dash-today {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-top: 40px;
    h3 {
      margin-left: 10px;
    }
  }
  #dash-year {
    margin-top: 5px;
    margin-bottom: 20px;
    h2 {
      font-family: futura;
      font-style: italic;
    }
    h3 {
      font-size: 70px;
      margin-top: -15px;
      margin-bottom: 35px;
    }
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      height: 40px;
      border: 2px solid white;
      border-radius: 35px;
      background-color: black;
      padding: 10px;
    }
  }
  #dash-logged {
    display: flex;
    flex-direction: column;
    h5 {
      margin-top: 5px;
    }
  }
  button {
    width: 90px;
    height: 35px;
    border-radius: 35px;
    border: 2px solid white;
    background-color: black;
    padding-bottom: 3px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: futura;
  }
}
