@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

input {
  background-color: rgb(190, 184, 184);
  border: 2px solid white;
  color: black;
}

#submit {
  background-color: black;
  font-weight: bold;
  color: white;
  border: 2px solid white;
}
